body{
    background-color: beige;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr/ span 5;
    grid-template-rows: 1fr/ span 5;
}

header {
    background-color: brown;
    color: beige;
    text-align: center;
    padding: 16px;
    font-family: "Limelight", serif;
    text-size-adjust: 600px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 16px; 
}

.container > div {
    border: 1px solid brown; 
    border-radius: 10px;
    background-color: brown;
    padding: 8px; 
    text-align: center; 
}

.container img {
    max-width: 100%; 
    height: auto; 
}

.container a {
    color: beige; 
    text-decoration: none; 
}

.container a:hover {
    text-decoration: underline; 
}

.limelight-regular {
    font-family: "Limelight", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h2 {
    font-family: "Limelight", serif;
    font-weight: 400;
    font-style: normal;
    color: brown;
    text-align: center;
  }