body{
    background-color: beige;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr/ span 5;
    grid-template-rows: 1fr/ span 5;
}

header {
    background-color: blue;
    color: beige;
    text-align: center;
    padding: 200px;
    font-family: "Limelight", serif;
    font-size: 80px;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px; 
    max-width: auto; 
    margin: 0 auto; 
    padding: 16px; 
}

.container > div {
    border: 1px solid blue; 
    border-radius: 10px;
    background-color: blue;
    padding: 8px; 
    text-align: center; 
}

.container img {
    max-width: 100%; 
    height: auto; 
}

.container a {
    color: beige; 
    text-decoration: none; 
}

.container a:hover {
    text-decoration: underline; 
}

.limelight-regular {
    font-family: "Limelight", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h2 {
    font-family: "Limelight", serif;
    font-weight: 600;
    font-style: normal;
    color: blue;
    text-align: center;
  }
    h3 {
        font-family: "Limelight", serif;
        font-weight: 400;
        font-style: normal;
        color: beige;
        text-align: center;
    }

    .container img {
        max-width: 100%; 
        height: auto; 
        border: 2px solid beige;
        border-radius: 10px; 
        cursor: pointer; 
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
    }
    
    .container img:hover {
        transform: scale(1.05); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    